@using Model
@model IQueryable<Customer>

<div id="table">
    @Html.Partial("_CusPartial")
</div>

@section pageName{
    <p>Index</p>
}https://drive.google.com/drive/u/0/folders/1lAJzTZH6a8erQBF2XS3ZJmqPy1bBnZb6?direction=a&fbclid=IwAR0bVrL9oSP_KK95ofSeR3VgOGOq-zFjCKSAj0ySpS3-72C_mWJKAFQbjHE